<footer>
    <h4>Employee Review | Done By Pratheek</h4>
    <%if (locals.user){ %>
        <%if(locals.user.admin == true){%>
            <a href="/users/change-access">
                Change User Access
            </a>
        <%}%>
    <%}%>
</footer>