<link rel="stylesheet" href="/css/review_list.css">
<div id="review-list">
    <a href="/employee/main-view">
        <button>&lt; Back</button>
    </a>
    <h2>Employees</h2>
    <ol>
        <li>
            <%for(let employee of employee_details){ %>
                <p><%= employee.employee_name%></p>
                <%for(let review of employee.feedback){ %>
                <ul>
                        <!-- <%=review%> -->
                        <li>
                            <p>
                                <%= review.content%>
                            </p>
                            <p>-- By <%= review.user.name %></p>
                        </li>
                        
                </ul> 
                <%}%>
            <%}%>
        </li>
    </ol>
</div>