footer {
  background-color: black;
  color: lightseagreen;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

footer h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 3px cyan,0px 0px 4px cyan;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin-right: 20px;
}
