body {
  margin: 0px;
  background-image: linear-gradient(to bottom right, lightseagreen, white);
  background-repeat: no-repeat;
  height: 120vh;
  padding-top: 100px;
  font-family: "Balto",Helvetica, sans-serif;
  color: #4c4e4d;
}

body main {
  display: flex;
  justify-content: center;
  align-items: center;
}

body main #home-container {
  margin-top: 40px;
  background-color: white;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body main #home-container div {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}

body main #home-container div a {
  text-decoration: none;
  color: blue;
  font-weight: 800;
}

body::-webkit-scrollbar {
  display: none;
}
